/* valentinstag.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9D4CA; /* Dunkelroter Hintergrund */
    text-align: center;
}
h1 {
    color: #4F2814; /* Rote Überschrift */
    margin-top: 50px;
}
p {
    color: #4F2814; /* Roter Text */
}
form {
    margin-top: 20px;
    display: inline-block; /* Formular wird inline-block */
}
input[type="number"] {
    width: 200px; /* Breite des Eingabefelds */
    height: 40px; /* Höhe des Eingabefelds */
    border: 2px solid #4F2814; /* Roter Rahmen */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
button[type="submit"] {
    height: 40px;
    width: auto;
    line-height: 40px; /* Set line height equal to button height */
    vertical-align: middle; /* Vertically align the content in the middle */
    margin-top: 10px; /* Add some space below the button */
    background-color: transparent; /* Transparenter Hintergrund, um das Bild sichtbar zu machen */
    background-repeat: no-repeat; /* Bild nicht wiederholen */
    border: none;
    cursor: pointer;
}
.imageX {
    text-align: center; /* Center the content horizontally */
    margin-top: 20px; /* Add space above the new section */
}

.imageX img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain aspect ratio */
}